name: Weekly runner

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  runner:
    environment: Actions # Access to Secrets
    runs-on: ubuntu-slim
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: corepack enable

      - name: Setup Node.js 
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: pnpm install --prod

      - name: Run TypeScript script
        run: node src/index.ts
        env:
          TZ: ${{ secrets.TZ }}
          GOOGLE_CALENDAR_API_KEY: ${{ secrets.GOOGLE_CALENDAR_API_KEY }}
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          EMAIL_ENABLED: ${{ secrets.EMAIL_ENABLED }}
          EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          GOOGLE_APP_USER: ${{ secrets.GOOGLE_APP_USER }}
          GOOGLE_EMAIL_APP_PASSWORD: ${{ secrets.GOOGLE_EMAIL_APP_PASSWORD }}
