name: Weekly runner

on:
  schedule:
    - cron: "0 5 * * 0" # Every Sunday at 5 AM UTC
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  runner:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: pnpm install --prod

      - name: Run TypeScript script
        run: node src/index.ts
        env:
          TZ: ${{ secrets.TZ }}
          GH_TOKENS: ${{ secrets.GH_TOKENS }}
          GH_USERNAME: ${{ secrets.GH_USERNAME }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          GOOGLE_CALENDAR_ID: ${{ secrets.GOOGLE_CALENDAR_ID }}
          EMAIL_ENABLED: ${{ secrets.EMAIL_ENABLED }}
          EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          GOOGLE_APP_USER: ${{ secrets.GOOGLE_APP_USER }}
          GOOGLE_EMAIL_APP_PASSWORD: ${{ secrets.GOOGLE_EMAIL_APP_PASSWORD }}

      - name: Update repository secret
        if: hashFiles('refresh_token') != ''
        run: |
          if [ -s refresh_token ]; then
            gh secret set GOOGLE_REFRESH_TOKEN --body "$(cat refresh_token)" --repo ${{ github.repository }}
            echo "Refresh token updated"
          else
            echo "No new refresh token to update"
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_SECRETS_TOKEN }}
